body {
	margin: 25px;
	padding: -21px 0 0 0;
	background-image: url(fundo.png);
	background-position: center;
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: 50%;
}

* {
	font-family: Verdana;
	text-align: justify;
}

h1 {
	text-align: center;
}
